.border {
  border-width: 2px;
  border-style: solid;
  border-color: gray;
}

.top-padding {
  padding-top: 50px;
}

.bottom-padding {
  padding-bottom: 50px;
}

.increment {
  height: 20px;
  width: 20px;
  background-color: green;
}

.decrement {
  height: 20px;
  width: 20px;
  background-color: red;
}