<div class="container">
  <h1>Cart</h1>
<!-- table headers -->
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5">
    <h2>Item</h2>
    </div>
    <div class="col-xs-1">
    <h2>Price</h2>
    </div>
    <div class="col-xs-2">
    <h2>Quantity</h2>
    </div>
    <div class="col-xs-1">
    <h2>Cost</h2>
    </div>
  </div>
  <!-- repeat over items -->
  <div class="row" ng-repeat="(key, value) in items">
    <div class="col-xs-1">
    <div class="glyphicon glyphicon-remove" ng-click="remove(key)">
    </div>
    </div>
    <div class="col-xs-5">
    {{key}}
    </div>
    <div class="col-xs-1">
    ${{value.price}}
    </div>
    <div class="col-xs-2">
    <div class="glyphicon glyphicon-triangle-bottom" ng-click="decrement(key)"></div>{{value.quantity}}
    <div class="glyphicon glyphicon-triangle-top" ng-click="increment(key)"></div>
    </div>
    <div class="col-xs-1">
    ${{value.cost}}
    </div>
  </div>

  <!-- totals -->
  <div class="row">
    <div class="col-xs-2 col-xs-offset-7">
    <h3>Subtotal:</h3>
    <h3>Tax</h3>
    <h3>Gratuity</h3>
    <h3>Total</h3>
    </div>
    <div class="col-xs-1">
    <h3>${{totals.subtotal}}</h3>
    <h3>${{totals.tax}}</h3>
    <input type="number" ng-model="gratuity" min=0><p>
    <h3>${{totals.total+gratuity}}</h3>
    </div>
  </div>
</div>